.custom-scroll-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
	opacity: 0;	
}

#content-modal > img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-white {
	color: #ffff;
}

#div-contact {
	position: relative;
    bottom: 135px;
}

@media (max-width: 360px) {
    header {
        width: 359px;
    }    
}

@media (min-width: 1580px) {
    .disply-table {
        left: -205px;
    }    
}



.wpp-button {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 114px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
  }
  .wpp-button:hover,
  .wpp-button:active,
  .wpp-button:focus {
	color: #fff;
  }
  
  .my-float{
  margin-top:16px;
  }
  
  /* Mobile */
  @media (max-width: 1024px){
	.wpp-button{
	  font-size: 20px;
	  bottom: 90px;
	  right: 27px;
	  width: 40px;
	  height: 40px;
	}
	.my-float{
	  margin-top: 11px;
	}
  }

  html, body {
	overflow-x: hidden;
  }
  body {
	position: relative
  }
  


